/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  background: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
  justify-content: center;
  align-items: center;
}
.main, .header, .footer {
  width: var(--header-width);
  width: 48.5%;
}
.header {
  font-family: var(--font-accent), sans-serif;
  display: grid;
  aspect-ratio: 696/364;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.header_title {

  font-size: clamp(1rem, 5vw, 4.065rem);
  font-weight: 400;
  
  
}
.header_subtitle {
  /* font-size: clamp(var(--min-subtitle-font-size) 50% var(--max-subtitle-font-size)); */
  font-size: clamp(1rem, 2vw, 1.438rem);
  font-weight: 400;  
  line-height: 23px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;

  
  
}
.header_container {
  display: grid;
  gap: 20px;
}
.card_list {
  display: grid;
  gap: 50px;
}
.card_item {
  border: 2px solid black;
  background-color: white;
  display: grid;
}
.card_header {
  padding: 6px 10px 3px 10px;
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* letter-spacing: 0.0rem; */
}
.card_text {
font-family: var(--font-main), sans-serif;
font-size: 18px;  
font-weight: 400;  
line-height: 21px;  
text-align: left;  
text-underline-position: from-font;  
text-decoration-skip-ink: none;  
letter-spacing: 0.05rem;
}
.card__img-wrapper {
  position: relative;
  background-image: url("../images/bus.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-top: 2px solid black;
  
}
.img__label {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: absolute;
  right: 10px;
  top: 20px;
  mix-blend-mode: hard-light;  
  text-shadow:
    -1px 0 var(--text-stroke-color, #FFFFFF), 
    0 1px var(--text-stroke-color, #FFFFFF), 
    1px 0 var(--text-stroke-color, #FFFFFF), 
    0 -1px var(--text-stroke-color, #FFFFFF);
  
}

.card_img {
  inline-size: 100%;
  object-fit: cover;
  
 
}
.card_content {
  padding: 30px 25px 0px 25px;
}
.main_article {
  margin-bottom: 27px;
}
.button__text {
  border: 2px solid black;
  padding: 10px 35px;
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.card_actions {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: flex-end;
}
.button_social {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  align-items: center;
}
.footer {
  display: grid;
  background-color: #FFFFFF;
  justify-content: center;
  padding-bottom: 48px;
}

.button_save {
  
  display: flex;
  flex-direction: column;
  height: 84px;
  width: 306px;
  align-items: center;
  border: 2px solid black;
  margin: 52px 34.5px;
  justify-content: center;
  background-color: #FFFFFF;
}
.svg_floppy {
  width: 28px;
  height: 28px;
}
.footer__label {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}


.floppy_dialog {
  position: fixed;
  padding: 31px 42px;
  inset: 0;
  max-inline-size: 91%;
  min-inline-size: 341px;
  border: 2px solid black;
}
.floppy_dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

.body:has(.floppy_dialog[open]) {
  overflow: hidden
}
.dialog_description {
  display: flex;
  gap: 13px;
  padding-bottom: 30px;
  align-items: center;
}
.dialog_button {
  font-family: var(--font-accent), sans-serif;
  background-color: #FFFFFF;
  border: 2px solid black;
  max-inline-size: 90%;
  min-inline-size: 255px;
  min-block-size: 38px;
}
.dialog_label {
  
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  align-self: flex-start;

}
.dialog_svg_floppy {
  
min-height: 44px;
  
min-width: 44px;
  
height: 44px;
  
width: 44px;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .img__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px ;
    text-shadow: none;
  }
}
@media (width <= 375px) {
  
  .main, .header, .footer {
    width: 100%;
  }
  .header {
    aspect-ratio: 125/109;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
}




