/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-main), sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed; 
  font-variation-settings: 'wght' var(--font-weight-text);
}

.main,
.header {
  width: var(--header-width);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: grid;
  gap: 20px;
  align-items: center;
  margin-top: 7vw;
  margin-bottom: 6.8vw;
  border: var(--main-border);
  font-family: var(--font-accent), fantasy;
  text-align: center;
  background-color: white;
  aspect-ratio: 696/364;
  align-content: center;
}

.header_title {
  font-weight: 400;
  font-size: var(--header-title-font-size);
}

.header_subtitle {
  
  font-weight: 400;
  font-size: var(--header-subtitle-font-size);
  line-height: 23px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.header_container {
  display: grid;
  gap: 20px;
}

.card_list {
  display: grid;
  gap: 50px;
  width: 100%;
}

.card_item {
  display: grid;
  border: var(--main-border);
  background-color: white;
}

.card_header {
  padding: 6px 10px 3px;
  font-family: var(--font-main), sans-serif;
  font-weight: 700;
  font-variation-settings: 'wght' var(--font-weight-card-header);  
  font-size: var(--card-content-font-size);
  line-height: 21.78px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card_text {
  padding: 0;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-card-text);
  line-height: 21px;
  font-size: var(--card-content-font-size);
  
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card__img-wrapper {
  position: relative;
  max-width: 100%;
}

.img__label {
  position: absolute;
  top: 20px;
  right: 10px;
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-shadow: 0 0 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

.card_img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
}

.card_content {
  padding: 25px;
}


.main_article {
  margin-bottom: 27px;
}

.heart {
  display: flex;
  justify-content: center;
  align-content: center;
  transform-origin: center;
}

.like-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  overflow: visible;
}

.button_heart {
  margin: 0;
  border: 2px solid transparent;
  padding: 0;
  overflow: visible;
  background: inherit;
  cursor: pointer;
  transition: border 0.3s ease;
}

.button_heart:focus {
  outline: none;
}

.button_heart:focus-visible {
  border: var(--main-border);  
}

.sparks {
  opacity: 0;
}

.button_decorated {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 14px;
  font-family: var(--font-accent), fantasy;
  border: var(--main-border);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button_decorated:focus {
  outline: none;
}

.button_decorated:focus-visible {
  box-shadow: 2px 2px 0 black;
  outline: none;  
}

.button_decorated::before {
  content: '';
  position: absolute;
  top: 0;  
  min-width: 100%;
  height: 100%;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  transform-origin: left top;
  transform: scaleX(0);
}

.button_decorated:hover::before {  
  transform: scaleX(1);
}

.invert_color {
  color: var(--blend-color);
  fill: var(--blend-color);
  mix-blend-mode: difference;
}

.button_save {
  align-self: center;
  gap: 5px;
  min-height: 55px;
  width: 335px;
  margin-bottom: 20px;
}

.button__text {
  border: var(--main-border);
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card_actions {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  gap: 4px;
  padding-top: 25px;
}

.button_social {
  margin: 0;
  padding: 0;
  inline-size: var(--button-social-width);
}

.footer {
  display: grid;
  justify-content: center;
  padding-bottom: 48px;
}

.svg_floppy {
  width: 28px;
  height: 28px;
}

.footer__label {
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.dialog_button_text {
  text-transform: uppercase;
}

.floppy_dialog {
  position: fixed;
  inset: 0;
  border: var(--main-border);
  padding: 31px 42px;
  min-inline-size: 341px;
  max-inline-size: 353px;
}

.floppy_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

.body:has(.floppy_dialog[open]) {
  overflow: hidden;
}

.dialog_description {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-bottom: 30px;
}

.dialog_button {
  max-inline-size: 90%;
  min-inline-size: 255px;
  min-block-size: 38px;
}

.dialog_label {
  align-self: flex-start;
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.dialog_svg_floppy {
  width: 44px;

  min-width: 44px;

  height: 44px;
  min-height: 44px;
}

.filter_brightness {
  filter: brightness(0.8);
}

.filter_saturate {
  filter: saturate(200%);
}

.filter_huerotate {
  filter: hue-rotate(90deg);
}

.filter_grayscale {
  filter: grayscale(100%);
}

.filter_blur {
  filter: blur(2px);
}

.filter_sepia {
  filter: sepia(50%);
}

.filter_huerotate_blur {
  filter: hue-rotate(90deg) blur(2px);
}

.filter_invert {
  filter: invert(100%);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {

  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

@media (width <= 375px) {

  .main,
  .header,
  .footer {
    width: 100%;
  }

  .header {
    margin-top: 15vw;
    margin-bottom: 15vw;
    aspect-ratio: 125/109;
  }

  .header_title {
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0%;
  }

  .header_subtitle {
    font-size: 14px;
  }

  .card_header {
    font-size: 18px;
  }

  .card_text {
    font-size: 18px;
  }

  .button_save {
    flex-direction: column;
    width: 306px;
    height: 84px;
    margin: 30px 34.5px;
  }
}
