/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background-image: repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --font-main: Inter-Variable;
  --font-accent: 'PressStart2P';
  --font-weight-header: 400;
  --font-weight-text: 400;
  --font-weight-card-header: 700;
  --font-weight-card-text: 400;
  --header-width: 48.5%;
  --logo-font-size: clamp(49px, 100%, 65px);
  --min-header-font-size: 49px;
  --max-header-font-size: 65px;
  --min-subtitle-font-size: 1rem;
  --min-subtitle-font-size: 2rem;
  --text-stroke-color: rgba(255, 255, 255, 0.5);
  --blend-color: #fff;
  --heart-contour-color: black;
  --heart-sparks-color: red;
  --heart-sparks-accent: black;
  --main-border: 2px solid black;
  --background: linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  --card-content-font-size: clamp(0.6rem, 100%, 1.125rem);
}
